.App {
  display: block;
}

.container {
  padding: 40px;
  width: 50%;
  background-color: #2980b9;
  color: white;
  height: 100vh;
  padding-bottom: 0;
}

.header {
  display: flex;
}

.header .title {
  margin-left: 20px;
}

.header img {
  height: 95px;
}

.header h1 {
  font-size: 62px;
  letter-spacing: 25.7px;
  display: block;
  line-height: 0;
  font-weight: 600;
  margin-top: 35px;
}

.header h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: -10px;
}

h2 {

}